@charset "utf-8";
/* 
==============
    Global
==============
*/
body {
    margin: auto;
    Width: 860px;
    font-family: "Helvetica Neue", "Liberation Sans", Calibri, Arial, sans-serif;
    font-size: 100%;
}

.startpage > header, .subpage > header { /* Specifiera vilken header utifall att det finns flera headers på en sida*/
    text-align: center;
    padding: 20px 0 0;
}

h1 {
    font-family: 'Merienda One', cursive;
    display: inline-block;
    margin: 0;
}

h1::first-letter {
    color: #00AF64;
}

.hwrap > a {
    margin-right: 30px;
}

.tagline {
    font-size: 120%;
    padding: 0.5em;
    border-top: 3px double #00af64;
    border-bottom: 3px double #00af64;
    margin: 4em 0;
}

.menu a:link, .menu a:visited {
    text-decoration: none;
    color: #000;
}

.menu a:focus, .menu a:hover {
    text-decoration: underline;
    color: #A62F00;
}

.menu a:active {
    text-decoration: underline;
    color: #FF4900;
}

footer {
    display: block;
    margin-top: 3em;
    text-align: center;
    clear: both;
    color: #999;
}

/*
============
Startpage
============
*/

.startpage > header h1 {
    font-size: 500%;
    vertical-align: 53%;
}

.startpage > section {
    display: inline-block;
    width: 20%;
    margin-right: 6%;
    vertical-align: top;
}

.startpage > section:last-of-type {
    margin-right: 0;
}

.startpage > section > h2 {
    margin: 0 0 1em;
    padding: 2em 0;
    background-color: #F5f5f5;
    text-align: center;
    box-shadow: inset 0 0 20px #007241;
    border-radius: 50%;
    font-family: 'Merienda One', cursive;
}

.startpage .logo {
    width: 235px;
    height: 198px;
}

/*
============
subpage
============
*/

.subpage > footer {
    margin-top: 0;
    padding: 1.5em;
    border-top: 3px double #00af64;
}

.subpage > nav {
    float: left;
    width: 20%;
    outline: solid red 1px; /* Temporär för att se boxen*/
}

.subpage header span {
    color: rgb(231, 14, 14);
}

div[role="main"] {
    margin-left: 25%;
}

div[role="main"] > article{
    display: block;
    padding-bottom: 1em;
    margin-bottom: 2em;
    border-bottom: 3px double #00af64;
    width: 100%;
    float: right;
}

div[role="main"] > article:last-child {
    border-bottom: none;
    padding-bottom: 0
}

div[role="main"] figure > img {
    width: 128px;
    height: 128px;
}

.alignleft {
    float: left;
    margin: 0 10px 15px 0;
}

.block > p {
    margin-left: 140px;
}

.block > p:first-of-type {
    margin-top: 0;
}

.bildcaption {
    font: italic bolder 110% sans-seriff;
    font-family: inherit;
    text-align: center;
    text-transform: uppercase;
    color: #666;
    margin-bottom: 1em;
}

.double {
    border: 1px solid #ccc;
    padding: 5px;
}